
*.svn-base
.svn/entries
.svn/format
.svn/tmp/svn.2.tmp
.svn/tmp/svn.tmp
.svn/wc.db
python_model_funkcni_mnist_blok.py
python_model_funkcni_batch.py
python_model_funkcni_mnist_blok.py
python_model_funkcni_batch.py
python_model_funkcni_batch.py
python_model_funkcni_mnist_blok.py
python_model_0.py
python_model_1.py
python_model_2.py
python_model_3.py
python_model_4.py
neuralnetworkgenerator.code-workspace
env/
bin/
.vscode/
/.idea
/bin
/out
classes/artifacts/DP_2019_hipca_jar/DP_2019_hipca.jar
